/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/


/* переменные */

:root {
    --main-blue: #1D3E81;
    --dark-blue: #252D3F;
    --blue: #1182C5;
    --black: #000000;
    --gray: #A4A4A4;
    --light-gray: #E5E5E5;
    --yellow: #EAB631;
    --light-green: #16B992;
    --white: #FFFFFF;
    --transparent: transparent;
}


/* общие стили */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    color: #333333;
}


/* запрет скролла */

.no-scroll {
    overflow: hidden;
}


/* flex в строку */

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-row-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}


/* заголовки */

.xl-title__bold {
    font-size: 46px;
    font-weight: 800;
    color: var(--dark-blue);
}

.lg-title__bold {
    font-size: 36px;
    font-weight: 800;
    color: var(--dark-blue);
}

.md-title__normal {
    font-size: 30px;
    font-weight: 400;
    color: var(--dark-blue);
}

.sm-title__bold {
    font-size: 23px;
    font-weight: 700;
    color: var(--black);
}

@media (max-width: 1024px) {
    .xl-title__bold {
        font-size: 33px;
    }
    .lg-title__bold {
        font-size: 26px;
    }
    .md-title__normal {
        font-size: 21px;
    }
    .sm-title__bold {
        font-size: 17px;
    }
}

@media (max-width: 680px) {
    .xl-title__bold {
        font-size: 26px;
    }
    .lg-title__bold {
        font-size: 21px;
    }
    .md-title__normal {
        font-size: 14px;
    }
}


/* текст */

.xl-text__normal {
    font-size: 23px;
    font-weight: 400;
    color: var(--black);
}

.lg-text__normal {
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
}

.md-text__normal {
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
}

.sm-text__normal {
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

@media (max-width: 1024px) {
    .xl-text__normal {
        font-size: 17px;
    }
    .lg-text__normal {
        font-size: 15px;
    }
    .md-text__normal {
        font-size: 13px;
    }
    .sm-text__normal {
        font-size: 12px;
    }
}

@media (max-width: 680px) {
    .xl-text__normal {
        font-size: 15px;
    }
    .lg-text__normal {
        font-size: 13px;
    }
}


/* кнопки */

.main-btn__normal {
    padding: 17px 47px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.main-btn__normal:disabled {
    background-color: lightgray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-btn__normal:disabled:hover {
    background-color: lightgray;
}

.main-btn__normal:hover {
    background-color: var(--main-blue);
}


/* кнопка "в наличии" */

.in-stock__btn {
    display: inline-block;
    padding: 8px 15px;
    margin-bottom: 7px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    color: var(--white);
    background: var(--light-green);
    border-radius: 40px;
}


/* кнопка корзины */

.product-card__cart-icon {
    padding: 10px 10px 8px 8px;
    width: 48px;
    height: 48px;
    background-color: var(--blue);
    border-radius: 50%;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.product-card__cart-icon:hover {
    background-color: var(--main-blue);
}


/* ссылка "смотреть все" */

.show-all__link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: var(--blue);
}


/* 12 колоночная сетка на гридах */

.grid-12-col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
}


/* 24 */

.grid-24-col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[24];
    grid-template-columns: repeat(24, 1fr);
}


/* класс для центрирования блоков */

.centered {
    max-width: 1110px;
    margin: 0 auto;
}

.wrapper-1440 {
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .centered {
        padding: 0 20px;
    }
}


/* bg - background */

.bg__dark-blue {
    background-color: var(--dark-blue);
}


/* trnsprnt - transparent */

.btn-bg__trnsprnt-clr__white {
    background-color: var(--transparent);
    color: var(--white);
}

.btn-bg__trnsprnt-clr__white:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}


/* display none для поля поиска */

.display-none {
    display: none;
}


/* уберём курсив у адресов и сбросим подчёркивания ссылок, а так же стили списков */

a {
    font-size: 14px;
    text-decoration: none;
    color: var(--black);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

address {
    font-style: normal;
}


/* внутренние отступы для шапки */

@media (max-width: 1110px) {
    .pd-x-20 {
        padding: 0 20px;
    }
}

.pd-y-95 {
    padding: 95px 0;
}

@media (max-width: 1200px) {
    .pd-y-95 {
        padding: 67px 20px;
    }
}


/* выровняем изображения */

img {
    vertical-align: middle;
}


/* эффект при наведении на логотипы */

.partners-list-element img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.partners-list-element img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


/* обрежем картинки */


/* ...справа */

@media (min-width: 861px) {
    .right-side-clip {
        -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    }
}


/* ...слева */

.left-side-clip {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
}


/* звёзды рейтинга */

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-bottom: 6px;
}

.rating>span {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
    color: var(--yellow);
}


/* мобильное меню */

.mobile-menu {
    display: none;
}

@media(max-width: 680px) {
    .mobile-menu__show {
        display: block;
    }
    .mobile-menu {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    .mobile-menu__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 68px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .mobile-menu__nav-list {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 68px;
        left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 5;
    }
    .mobile-menu__nav-list_element {
        margin: 10px 0 20px;
    }
    .mobile-menu__nav-list_element a {
        display: block;
        font-size: 15px;
        font-weight: 600;
        color: var(--white);
    }
    .top-header__sticky-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;
    }
}


/* точечная стилизация */

.top-header {
    height: 45px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--white);
}

.top-header__address {
    -ms-grid-column-span: 8;
    grid-column: span 8;
    font-size: 14px;
}

.top-header__address img {
    margin-right: 6px;
}

.top-header__login {
    grid-column: -6 / -1;
}

.top-header__search-form {
    -ms-grid-column: 11;
    -ms-grid-column-span: 5;
    grid-column: 11 / 16;
}

.top-header__search-form input {
    width: 95%;
}

.top-header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    grid-column: 16 / -7;
}

.cart-counter,
.compare-counter,
.fav-counter {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    position: absolute;
    margin: -6px;
    padding-top: 1px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var( --white);
}

.top-header__btns_search-label {
    cursor: pointer;
}

.top-header__sticky-bottom header ul .top-header__btns_search-label {
    display: none;
}

.top-header__login a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--white);
}

.top-header__login a img {
    margin: 0 16px;
}

.login-bold {
    font-weight: 600;
}

.login-text {
    margin: 0;
}

.header-logo {
    -ms-grid-column-span: 7;
    grid-column: span 7;
}

.header-logo img {
    vertical-align: middle;
}

.bottom-header {
    position: relative;
    height: 83px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: var(--white);
}

.bottom-header__nav {
    grid-column: 8 / -6;
}

.bottom-header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bottom-header__nav-list_element {
    align-self: center;
}

@media (min-width: 680px) {
    .nav-list_element__hover {
        position: absolute;
        top: 83px;
        right: 0;
        left: 0;
        min-height: 100px;
        /* временный цвет */
        background-color: var(--light-gray);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
    }
    .nav__hover-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
    }
    .nav__hover-list_element {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: 1fr 1fr;
        width: 33.3%;
    }
    .nav__hover-list_element-title {
        font-weight: bold;
    }
    .nav__hover-list_element img {
        grid-row: 1/-1;
    }
}

@media (max-width: 1200px) {
    .nav-list_element__hover {
        margin: 0 20px;
    }
}

.bottom-header__nav-list_element:hover>.nav-list_element__hover {
    opacity: 1;
    z-index: initial;
}

.bottom-header__nav-list_element>a {
    padding: 2rem 0;
    font-size: 14px;
    -webkit-transition: text-shadow 0.3s;
    -o-transition: text-shadow 0.3s;
    transition: text-shadow 0.3s;
}

.bottom-header__nav-list_element a:hover {
    text-shadow: 0.25px 0.1px 0px var(--main-blue), -0.25px -0.1px 0px var(--main-blue);
    color: var(--main-blue);
}

.bottom-header__nav_phone {
    display: -ms-grid;
    display: grid;
    justify-items: right;
    grid-column: -6 / -1;
    text-align: right;
}

.bottom-header__nav_phone a {
    font-size: 16px;
    font-weight: 600;
}

.order-call-span {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 12px;
    line-height: normal;
    border-bottom: 1px dashed;
    color: var(--blue);
    cursor: pointer;
}

.bottom-header__nav_phone img {
    margin-right: 16px;
}

@media (max-width: 1110px) {
    .bottom-header__nav-list_element a {
        font-size: 12px;
    }
}

@media (max-width: 920px) {
    .top-header__address {
        -ms-grid-column-span: 9;
        grid-column: span 9;
    }
    .top-header__search-form {
        grid-column: 11 / -8;
    }
    .top-header__btns {
        grid-column: -7 / -3;
    }
    .top-header__login {
        grid-column: -2 / -1;
    }
    .login-text {
        display: none;
    }
    .bottom-header__nav {
        grid-column: 10 / -1;
    }
    .bottom-header__nav_phone {
        display: none;
    }
}

@media (max-width: 680px) {
    .top-header__mobile {
        margin-top: 45px;
    }
    .top-header__address {
        display: none;
    }
    .top-header__btns {
        -ms-grid-column-span: 11;
        grid-column: span 11;
    }
    .top-header__search-form {
        display: none;
    }
    .top-header__search-form input {
        width: 100%;
    }
    .top-header__login a img {
        margin: 0;
    }
    .search-mobile {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 45px;
        z-index: 15;
        padding: 11px;
        background-color: var(--dark-blue);
    }
    .top-header__sticky-bottom .search-mobile {
        margin: 0;
        bottom: 45px;
    }
    .bottom-header__nav {
        grid-column: -1 / -2;
    }
    .bottom-header__nav-list {
        display: none;
    }
    .bottom-header__nav-list_element {
        padding: 20px;
    }
    .bottom-header__nav-list__mobile {
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        z-index: 5;
        background-color: var(--dark-blue);
    }
    .bottom-header__nav-list__mobile>.bottom-header__nav-list_element a {
        font-size: 15px;
        font-weight: 600;
        color: var(--white);
    }
}


/* первый блок */

.welcome__wrapper {
    max-height: 731px;
    height: 50.8vw;
    background: url('../img/welcome-bg.jpg') no-repeat;
    background-size: contain;
}

.welcome {
    background-size: contain;
    max-height: inherit;
    height: inherit;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.welcome__description-block {
    width: 50%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.welcome img {
    height: 100%;
}

.welcome-title {
    margin: 0 0 29px 0;
    padding: 0;
}

.welcome-text {
    margin: 0;
    font-size: 23px;
}

@media (max-width: 1110px) {
    .welcome-title {
        margin: 0 0 20px 0;
        font-size: 33px;
    }
    .welcome-text {
        font-size: 17px;
    }
}

@media (max-width: 680px) {
    .welcome {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .welcome img {
        width: 50%;
        margin-left: auto;
    }
    .welcome__wrapper {
        background: url('../img/welcome-bg-mobile.jpg') no-repeat;
        background-position: right;
        background-size: contain;
        height: 100%;
    }
    .welcome__description-block {
        width: 100%;
    }
    .welcome-title {
        font-size: 26px;
        margin: 0 0 13px 0;
        padding: 20px 0 0;
    }
    .welcome-text {
        font-size: 15px;
    }
}


/* блок "консультация" */

.consultation__wrapper {
    max-height: 731px;
    height: 100%;
    padding: 93px 0;
}

.consultation {
    background: url('../img/down-arrow.png') no-repeat top right;
}

.consultation__description-block {
    width: 50%;
    padding-left: 75px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.consultation picture {
    width: 50%;
}

.consultation-title {
    margin: 0 0 27px;
}

.consultation-text {
    margin: 0 0 53px;
}

.consultation-button {
    margin: 0;
}

@media (max-width: 1110px) {
    .consultation__wrapper {
        padding: 66px 0;
    }
    .consultation-title {
        margin: 0 0 19px;
    }
    .consultation-text {
        margin: 0 0 38px;
    }
}

@media (max-width: 1024px) {
    .consultation img {
        width: 439px;
        height: 385px;
    }
}

@media (max-width: 860px) {
    .consultation__wrapper {
        padding: 52px 0;
    }
    .consultation {
        min-height: 568px;
        position: relative;
        background-position-y: 20%;
    }
    .consultation picture {
        margin: 10% 0;
        position: absolute;
        right: 0;
        z-index: -1;
    }
    .consultation img {
        position: absolute;
        right: 0;
        width: 219px;
        height: 463px;
    }
    .consultation__description-block {
        width: 100%;
        padding: 0;
    }
    .consultation-title {
        margin: 0 0 15px;
    }
    .consultation-text {
        margin: 0 0 34px;
    }
}


/* блок причин */

.reasons__wrapper {
    background-color: rgba(37, 45, 63, 0.03);
}

.reasons-title {
    padding-top: 97px;
    margin: 0 0 97px 0;
}

.reasons-list {
    padding-bottom: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.reasons-list__element {
    max-width: 286px;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.reasons-list__element-title,
.reasons-list__element-text {
    margin: 23px 0 0;
}

@media (max-width: 1024px) {
    .reasons-title {
        padding-top: 54px;
        margin: 0 0 54px;
    }
}

@media (max-width: 860px) {
    .reasons-title {
        padding-top: 34px;
        margin: 0 0 34px;
        font-size: 21px;
    }
    .reasons-list {
        padding-bottom: 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .reasons-list__element {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .reasons-list__element-title,
    .reasons-list__element-text {
        text-align: center;
    }
}


/* первый блок причин */

.reasons-callback {
    background-image: url('../img/reasons-bg-kiosk.png');
    background-position: bottom -60px right 0;
    background-repeat: no-repeat;
}

.reasons-callback__wrapper {
    max-width: 1860px;
    margin: 0 auto;
    background-image: url('../img/reasons-bg-decor.png');
    background-position: top 26px right 5vw;
    background-repeat: no-repeat;
}

.reasons-callback-title {
    display: inline-block;
    margin: 60px 0;
}

.reasons-callback-list {
    margin: 0 380px 55px 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    counter-reset: honeydrums-counter;
}

.reasons-callback-list__element {
    position: relative;
    width: 300px;
    padding-left: 80px;
    margin-bottom: 30px;
    counter-increment: honeydrums-counter;
}

.reasons-callback-list__element::before {
    content: '0' counter(honeydrums-counter);
    position: absolute;
    left: 0;
    font-size: 44px;
    font-weight: 900;
    color: var(--blue);
}

.reasons-callback-list__element::after {
    content: '';
    position: absolute;
    top: 35%;
    left: 0;
    width: 45px;
    height: 11px;
    background-color: var(--blue);
    -webkit-transform: skewY(35deg);
    -ms-transform: skewY(35deg);
    transform: skewY(35deg);
}

.reasons-callback-list__element-title {
    margin: 0;
}

.reasons-callback-button {
    margin-bottom: 111px;
}

@media (max-width: 1440px) {
    .reasons-callback__wrapper {
        background-position: top 26px right 0%;
    }
}

@media (max-width: 1024px) {
    .reasons-callback__wrapper {
        background-size: 292px;
    }
    .reasons-callback {
        background-size: 320px;
    }
    .reasons-callback-list__element::after {
        top: 70%;
    }
    .reasons-callback-list {
        margin: 0 300px 38px 0;
    }
}

@media (max-width: 940px) {
    .reasons-callback-button {
        margin-bottom: 30px;
    }
}

@media (max-width: 680px) {
    .reasons-callback__wrapper {
        background-image: none;
    }
    .reasons-callback {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-image: none;
    }
    .reasons-callback-title {
        margin: 20px 0 40px;
        font-size: 21px;
    }
    .reasons-callback-list {
        margin: 0 0 30px 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .reasons-callback-list__element {
        padding-left: 50px;
    }
    .reasons-callback-list__element::before {
        font-size: 31px;
    }
    .reasons-callback-list__element::after {
        top: 55%;
        width: 36px;
        height: 9px;
    }
    .reasons-callback-list__element-title,
    .reasons-callback-list__element-text {
        max-width: 212px;
    }
    .reasons-callback-button {
        margin: 0 auto 30px;
    }
}


/* блок "лучшее" */

.the-best__wrapper {
    background-color: rgba(37, 45, 63, 0.05);
}

.the-best {
    background-image: url('../img/reasons-bg-kiosk.png');
    background-position: right -629px;
    background-repeat: no-repeat;
}

.the-best-title {
    margin: 0 10px 48px;
    padding-top: 107px;
}

.the-best-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 48px;
}

.the-best-list__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    max-width: 255px;
    min-width: 190px;
    max-height: 567px;
    min-height: 424px;
    padding: 2% 2% 3%;
    margin: 0 10px 33px;
    background-color: var(--white);
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.the-best-list__element:hover {
    -webkit-box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
}

.the-best-list__element img {
    display: block;
    margin: 0 auto 15px;
}

.the-best-list__element-stock {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.the-best-list__element-rating {}

.the-best-list__element-description {
    margin: 0 0 23px;
    max-height: 80px;
}

.the-best-list__element-cost {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
}

@media (max-width: 1440px) {
    .the-best-list__element-cost {
        font-size: 17px;
        line-height: 18px;
        font-weight: 700;
        color: var(--black);
    }
}

.the-best-ist__element-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px 20px;
}

.the-best-all__link {
    display: inline-block;
    margin-bottom: 133px;
}

@media (max-width: 1024px) {
    .the-best {
        background-position: right -469px;
        background-size: 320px;
    }
}

@media (max-width: 680px) {
    .the-best-list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .the-best-list__element {
        padding: 20px 25px 30px 25px;
    }
    .the-best-all__link {
        margin-bottom: 29px;
    }
    .the-best-title {
        margin: 0 0 28px;
        padding-top: 20px;
    }
    .the-best {
        background-image: none;
    }
}


/* двойные стрелки вниз для фона */

.self-serv,
.automation,
.self-serv-market,
.automation-retail {
    background: url('../img/double-down-arrow.png') center 95px no-repeat;
}


/*  */

.description-block {
    width: 50%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.flex-row-reverse .description-block {
    padding-right: 22px;
}

.flex-row .description-block {
    padding-left: 28px;
}

.self-serv img,
.automation img,
.self-serv-market img,
.automation-retail img {
    width: 50%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (max-width: 680px) {
    .self-serv,
    .automation,
    .self-serv-market,
    .automation-retail {
        position: relative;
        min-height: 382px;
        height: 130vw;
        background-size: 108px 97px;
        margin-bottom: 32px;
        overflow: hidden;
    }
    .self-serv,
    .self-serv-market {
        padding: 20px 0;
        background-position: -20%;
    }
    .automation,
    .automation-retail {
        padding: 0;
        background-position: 120%;
    }
    .self-serv img,
    .automation img,
    .self-serv-market img,
    .automation-retail img {
        position: absolute;
        width: 140%;
        z-index: -1;
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
    }
    .flex-row .description-block,
    .flex-row-reverse .description-block {
        position: absolute;
        bottom: 20px;
        width: 100%;
        padding: 0 20px;
    }
    .description-block h2,
    .description-block p {
        color: var(--white);
    }
}


/* преимущества */

.advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--light-gray);
}

.advantages__title {
    margin: 0 0 74px;
    padding-top: 81px;
}

.advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 133px;
}

.advantages-list-element {
    margin-bottom: 46px;
    max-width: 392px;
    text-align: center;
}

.advantages-list-element-title {
    width: 300px;
    margin: 28px auto 14px;
}

.advantages-list-element-text {
    margin: 0;
}

@media (max-width: 1080px) {
    .advantages-list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 680px) {
    .advantages-list-element {
        max-width: 275px;
    }
    .advantages-list-element-title,
    .advantages-list-element-text {
        width: 100%;
    }
}


/* блок вопрос-ответ */

@media (min-width: 1440px) {
    .questions__wrapper {
        max-width: 1460px;
        margin: 0 auto;
        background-position: top 15px left 0;
    }
}

.questions__wrapper {
    background-image: url('../img/questions-bg.png');
    background-position: 15px 45px;
    background-repeat: no-repeat;
    background-size: 307px 201px;
}

.questions-title {
    margin: 0 0 40px;
    padding-top: 273px;
}

.questions-list-element__title {
    cursor: pointer;
}

.questions-list-element__title::after {
    content: '';
    display: inline-block;
    border: solid var(--dark-blue);
    border-width: 0 3px 3px 0;
    padding: 5px;
    margin-left: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.questions-list__answer {
    display: none;
    height: 0;
}

.show-answer {
    display: inline-block;
    height: 100%;
}

@media (max-width: 1024px) {
    .questions__wrapper {
        background-position: 0 37px;
        background-size: 206px 134px;
    }
    .questions-title {
        margin: 0 0 28px;
        padding-top: 192px;
    }
}

@media (max-width: 860px) {
    .questions__wrapper {
        background-size: 144px 95px;
    }
    .questions-title {
        margin: 0 0 20px;
        padding-top: 157px;
    }
}


/* блок статьи */

.articles-title {
    margin: 0 0 45px;
    padding-top: 57px;
}

.articles-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.articles-list-element {
    max-width: 350px;
    border-bottom: 4px solid #E0E0E0;
    margin-bottom: 39px;
}

.articles-list-element__description p {
    margin: 33px 0 59px;
}

@media (max-width: 1024px) {
    .articles-title {
        margin: 0 0 32px;
        padding-top: 40px;
    }
    .articles-list-element {
        max-width: 262px;
    }
    .articles-list-element__pic img {
        width: 262px;
    }
}

@media (max-width: 860px) {
    .articles-title {
        margin: 0 0 23px;
        padding-top: 40px;
    }
    .articles-list-element {
        max-width: 280px;
    }
    .articles-list-element__pic img {
        width: 280px;
    }
}


/* блок партнёры */

.partners-title {
    margin: 0 0 165px;
    padding-top: 57px;
}

.partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.partners-list-element {
    margin: 0 55px 55px;
}

@media (max-width: 1024px) {
    .partners-title {
        margin: 0 0 85px;
        padding-top: 40px;
    }
}

@media (max-width: 680px) {
    .partners-title {
        margin: 0 0 70px;
        padding-top: 20px;
    }
    .partners-list-element img {
        width: 105px;
    }
    .partners-list-element {
        margin: 0 5px 55px;
    }
}


/* контакты */

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    max-height: 720px;
    height: 100vw;
}

.contacts-title {
    margin: 0 0 59px;
    padding-top: 57px;
}

.contacts-info {
    position: relative;
    width: 60%;
    z-index: 1;
    background: -o-linear-gradient(345deg, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.5) 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(105deg, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.5) 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 100%);
}

.contacts-phone,
.contacts-mail,
.contacts-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.contacts-mail {
    margin-bottom: 70px;
}

.contacts-phone svg,
.contacts-mail svg,
.contacts-address svg {
    width: 35px;
    margin-right: 8px;
}

.contacts-phone a,
.contacts-mail a {
    font-size: 20px;
    font-weight: 600;
}

.contacts-map {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

@media (max-width: 1024px) {
    .contacts-title {
        margin: 0 0 40px;
        padding-top: 127px;
    }
}

@media (max-width: 860px) {
    .contacts {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        height: 769px;
    }
    .contacts-info {
        padding: 0 20px 64px;
        width: 100%;
        background: -o-linear-gradient(75deg, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.5) 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(15deg, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.5) 74%, rgba(255, 255, 255, 0) 74%, rgba(255, 255, 255, 0) 100%);
    }
    .contacts-title {
        margin: 0 0 15px;
        padding-top: 200px;
    }
    .contacts-phone,
    .contacts-mail,
    .contacts-address {
        margin-bottom: 15px;
    }
    .contacts-mail {
        margin-bottom: 40px;
    }
    .contacts-phone a,
    .contacts-mail a {
        font-size: 15px;
    }
    .contacts-map {
        top: 0;
        left: 0;
        right: 0;
    }
    .contacts-map * {
        width: 100%;
        height: 65%;
    }
}


/* футер */

.main-footer__inner {
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px 0;
    padding-top: 30px;
}

.main-footer__logo {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: block;
}

.main-footer__inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-footer__nav-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    grid-row: 4/9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1/17;
}

.main-footer__nav-block__about,
.main-footer__nav-block__services,
.main-footer__nav-block__help {
    width: 220px;
    margin: 0 25px 25px 0;
}

.main-footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-grid-row: 4;
    -ms-grid-row-span: 6;
    grid-row: 4/10;
    -ms-grid-column: 17;
    -ms-grid-column-span: 8;
    grid-column: 17/25;
    border-left: 1px solid white;
}

.main-footer__nav-block_title {
    margin: 0 0 30px;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    opacity: 0.3;
}

.main-footer__nav-block_list-element {
    position: relative;
}

.main-footer__nav-block_list-element a {
    display: block;
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}

.main-footer__nav-block_list-element a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--white);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.main-footer__nav-block_list-element a:hover::before {
    width: 100%;
}


/* список соц сетей в футере */

.main-footer__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 70%;
}

.main-footer__contacts-list-element a {
    display: block;
}


/* номер телефона */

.order-call__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-self: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.main-footer__contacts-phone {
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}


/* адрес */

.address__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts-address__footer {
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}


/* кнопка заказать звонок */

.order-call-btn {
    padding: 17px 47px;
    border: 1px solid var(--white);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.order-call-btn:hover {
    border: 1px solid var(--dark-blue);
    background-color: var(--white);
    color: var(--dark-blue);
}


/* адаптив футера */

@media (max-width: 1040px) {
    .main-footer__nav-block {
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        grid-column: 1/13;
    }
    .main-footer__contacts {
        -ms-grid-column: 13;
        -ms-grid-column-span: 12;
        grid-column: 13/25;
    }
}

@media (max-width: 820px) {
    .main-footer__inner {
        -ms-grid-rows: 56px 20px 1fr 20px 200px;
        grid-template-rows: 56px 1fr 200px;
        padding-bottom: 20px;
    }
    .main-footer__logo {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    .main-footer__nav-block {
        grid-column: 1/-1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }
    .main-footer__contacts {
        grid-column: 1/-1;
        grid-row: 3/-1;
        position: relative;
        border: none;
    }
    .main-footer__contacts-list {
        position: absolute;
        left: 0;
        width: 40%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .main-footer__contacts-list-element {
        margin: 0 10px 10px 0;
    }
    .address__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-self: flex-end;
    }
    .main-footer__contacts button {
        width: 100%;
    }
}


/* временно уберём карту */

.contacts img {
    display: none;
}


/* кнопка мобильного меню */

.hamburger {
    display: none;
}

@media (max-width: 680px) {
    .is-active {}
    .hamburger {
        padding: 0;
        display: inline-block;
        cursor: pointer;
        -webkit-transition-property: opacity, -webkit-filter;
        transition-property: opacity, -webkit-filter;
        -o-transition-property: opacity, filter;
        transition-property: opacity, filter;
        transition-property: opacity, filter, -webkit-filter;
        -webkit-transition-duration: 0.15s;
        -o-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
    }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: var(--white);
    }
    .hamburger-box {
        width: 23px;
        height: 20px;
        display: inline-block;
        position: relative;
        z-index: 10;
    }
    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 23px;
        height: 4px;
        background-color: var(--black);
        border-radius: 4px;
        position: absolute;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        -o-transition-property: transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.15s;
        -o-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
    }
    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }
    .hamburger-inner::before {
        top: -10px;
    }
    .hamburger-inner::after {
        bottom: -10px;
    }
    .hamburger--squeeze .hamburger-inner {
        -webkit-transition-duration: 0.075s;
        -o-transition-duration: 0.075s;
        transition-duration: 0.075s;
        -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .hamburger--squeeze .hamburger-inner::before {
        -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }
    .hamburger--squeeze .hamburger-inner::after {
        -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .hamburger--squeeze.is-active .hamburger-inner {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0.12s;
        -o-transition-delay: 0.12s;
        transition-delay: 0.12s;
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .hamburger--squeeze.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }
    .hamburger--squeeze.is-active .hamburger-inner::after {
        bottom: 0;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}


/* попап */

.popup__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(96, 125, 139, 0.6);
}

.callback__popup {
    position: fixed;
    width: 476px;
    height: 476px;
    background-color: var(--white);
}

.callback__popup-form {
    margin: 0;
    padding: 33px 32px 46px 31px;
}

.callback__popup-form fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: none;
}

.callback__popup-form fieldset>label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
}

.callback__popup-form fieldset>label input {
    margin: 5px 0 18px;
    padding: 10px;
    height: 55px;
    background: #f2f2f2;
    -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 10px;
}

.callback__popup-form__title {
    margin-bottom: 30px;
}

.callback__popup-form__btn {
    margin: 0 auto;
}

@media (max-width: 680px) {
    .callback__popup {
        width: 320px;
        height: 568px;
    }
    .callback__popup-form {
        padding: 20px;
    }
    .callback__popup-form__btn {
        width: 100%;
    }
}


/* чекбокс в соглашении */

.checkbox-wrap {
    margin: 0 auto 47px;
}

.checkbox-wrap input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-wrap label {
    display: inline-block;
    padding-left: 3em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.check__box {
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 0 -40px;
    background-image: url('../img/custom-checkbox/blank.svg');
    background-repeat: no-repeat;
}


/* чекнутая кнопка */

.checkbox-wrap input:checked+.check__box {
    background-image: url('../img/custom-checkbox/checked-box.svg');
}


/* кнопка в фокусе */

.checkbox-wrap input:focus+.check__box {
    outline: 1px solid var(--black);
}

.checkbox-wrap input:checked:focus+.check__box {
    outline: 1px solid var(--black);
}


/* закрыть попап */

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.close-button-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url(../img/close-button.svg);
}

.closed-popup {
    display: none;
}


/* новая стилизация поля поиска */

@keyframes showResults {
    from {
        transform: translateY(-150%);
    }
    to {
        transform: translateY(0);
    }
}

.search-form-wrapper {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1000;
    top: 0;
    right: 0;
    padding: 20px 0;
    background-color: var(--white);
    box-shadow: 0 1px 1vw 1px black;
}

.search-form-wrapper__show {
    display: block;
    animation-name: showResults;
    animation-duration: 0.3s;
}

.search-form-wrapper form {
    display: flex;
    align-items: center;
}

.search-form-wrapper form input {
    width: 100%;
    padding: 25px;
    border: none;
}

.search-btn,
.close-btn {
    border: none;
    background-color: transparent;
}

.search-btn,
.close-btn {
    cursor: pointer;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

@media (max-width: 680px) {
    .search-form-wrapper form input {
        padding: 10px;
    }
    .search-form-wrapper form {
        padding: 10px 20px 0;
    }
    .search-btn,
    .close-btn {
        padding: 0;
    }
}


/* результаты поиска */

.search-title-results {
    max-height: 300px;
    overflow: hidden scroll;
}

.search-title-item {
    padding: 20px 0;
}

.search-title-item:not(:last-child) {
    border: 1px solid lightgray;
    border-style: none none solid none;
}

.search-title-item-wrapper {
    max-width: 980px;
    margin: 0 auto;
}

.search-title-item-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--gray);
    border-radius: 3px;
    color: var(--gray);
    transition: 0.3s;
}

.search-title-item-button:hover {
    color: var(--white);
    background-color: var(--gray);
}

@media (max-width: 1200px) {
    .search-title-item {
        padding: 20px;
    }
}

@media (max-width: 680px) {
    .search-form-wrapper {
        padding: 0;
    }
    .search-title-results {
        max-height: 500px;
    }
}