body {
    margin: 0;
    padding: 0;
    min-width: 1440px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

/* эффект при наведении на логотипы */

.partners-list-element img {
    filter: grayscale(100%);
    transition: 0.3s;
}

.partners-list-element img:hover {
    filter: grayscale(0%);
}

/* обрежем картинки */

/* ...справа */
.right-side-clip {
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

/* ...слева */
.left-side-clip {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
}
